/*------------------------------------*\
$HEADLINE
\*------------------------------------*/
.headline {
    background: $lightmain;
    width: 100%;
    padding: 20px;
    @include respond-to(tablet) {
        padding: 40px;
    }
    &.headline--menu {
        padding-top: 60px;
        @include respond-to(tablet) {
            padding-top: 90px;
        }
        @include respond-to(desktop) {
            padding-top: 30px;
        }
    }
    &.biblioteca--headline {
        @include respond-to(desktop) {
            padding-bottom: 80px;
        }
    }
    h1 {
        text-align: center;
        color: $main;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .content {
        text-align: center;
        @include respond-to(tablet) {
            width: 580px;
            margin: auto;
        }
        @include respond-to(desktop) {
            width: 830px;
        }
    }
}