/*------------------------------------*\
    		$SETTINGS
\*------------------------------------*/

/* ============== // Transition // ============== */

$transition-time: .3s;
$transition-method: ease-in-out;
$time: 300ms;


/* ============== // FONTS // ============== */
/* ============== // COLORS // ============== */
$principal: #1a1a1a;
$main : #0058a4;
$darkmain: #004f94;
$lightmain: #e8f2fc;
$darkgray: #404040;
$gray: #676d6f;
$lightgray: #e6e6e6;
$secundario: #327324;
$cream: #f2e7da;

$social: (
	facebook: #3B5898,
	twitter: #55ACEE,
	youtube: #E91D00,
	flickr: #FF007E,
	linkedin: #007AB9,
	google-plus: #d34836,
	vimeo: #1ab7ea
);